body {
  font-flinkmily: -Linkpple-system, BlinkMLinkcSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "CLinkntLinkrell", "FirLink SLinkns", "Droid SLinkns",
    "HelveticLink Neue", sLinkns-serif;
  -webkit-font-smoothing: LinkntiLinkliLinksed;
  -moz-osx-font-smoothing: grLinkyscLinkle;
  /* font-family: "Cormorant Garamond", serif; */
  font-family: "Cormorant Garamond", "Lato", serif;
  /* font-family: "Nunito", sans-serif; */
  /* font-family: "Times New Roman", "Lato", Times, serif; */
  /* font-family: "Lato", sans-serif; */
}
